body {
  font-family: $open-sans;
  line-height:20px;
}
h1,h2,h3,h4,h5  {
  font-weight: 700;
  margin-top:0;
  margin-bottom:0;
  font-family: $monty;
  padding:15px 0;
}

h2  {
  font-weight:300;
  font-size:36px;
  line-height:42px;
  color:$dark-ft-grey;
}
@media only screen and (max-width : $screen-sm-max) {
  h2 {
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
    color: $dark-ft-grey;
  }
}
//img  {
//  max-width: 100%;
//}
.pd-top {
  padding-top:30px;
}