#footer  {
  background-color: $white;
  padding:50px 0px;
}
#pre-footer  {
  padding: 50px 0;
  color:$white;
  background-color: $mcd-blue;
  span  {
    font-size: 26px;
    font-weight: bold;
    font-family: $open-sans;
    line-height:28px;
  }
  .pre-btn  {
    background-color: transparent;
    border:2px solid #fff;
    margin:0px 20px;
    color:$white;
    font-size:21px;
    font-weight:normal;
    border-radius:10px;
    padding:15px 35px;
    &:hover  {
      background-color:$white;
      color:$mcd-blue;
      transition: all .25s ease-in-out;
    }
  }
}
#partner-logos  {
  padding:60px 0;
  img  {
    width:100%;
  }
}

#main-footer   {
  background: $dark-grey;
  padding:40px 0;
  color:#fff;
  p {
    padding-top: 15px;
  }
}
