#header  {
  border-top:4px solid $mcd-blue;
  padding-top:5px;
}
@media only screen and (max-width : $screen-md-max) {
  #header  {
    height:120px;
    padding:0;
  }
}
@media only screen and (max-width : $screen-sm-max) {
  #header {
    padding: 0;
    min-height: 100px;
  }
}
@media only screen and (max-width : $screen-xs-max) {
  .site-logo {
    max-width: 220px;
  }
}

.header-ctd {
  padding-top:25px;
  padding-right:10px;
  a {
    text-decoration: none;
    color:inherit !important;
  }
  .fa  {
    color:$mcd-blue;
    font-size:18px;
  }
  .number  {
    font-size:21px;
    font-weight:300;
  }
  .email  {
    font-size:16px;
    font-weight:bold;
    color:$mcd-blue;
  }
}

