#white-txt-bg  {
   padding:80px 0;
    h1{
      font-size:28px;
      color:$dark-ft-grey;
      font-weight:300;
    }
    p  {
    line-height:32px;
    }
 }
#grey-txt-bg  {
  h1{
    font-size:28px;
    color:$dark-ft-grey;
    font-weight:300;
  }
  padding:100px 0;
  background-color: $seashell;
 .contact-info {
   font-size:18px;
   line-height:32px;
 }
}

#page-content  {
  padding:50px 0;
  text-align:center;
  h1{
    font-size:28px;
    color:$dark-ft-grey;
    font-weight:300;
  }
}

#second-page-content  {
  padding:50px 0;
  background-color: $seashell;
  text-align:center;
  h2  {
    font-size:28px;
    color:$dark-ft-grey;
    font-weight:300;
  }
}
