#accordion-home  {
  // gen
  a  {
    text-decoration: none!important;
  }
  a:hover  {
    text-decoration: none!important;
  }
  a:visited  {
    text-decoration: none!important;
  }
  span  {
    color:$mcd-blue;
    font-size:18px;
  }
  .pan-active {
    .fa  {
      color: $mcd-blue !important;
    }
    hr {
      background-color: $mcd-blue;
      height:4px;
    }
  }
  .home-panel  {
    text-align: center;
    padding-bottom:20px;
  }
  .fa  {
    font-size:72px !important;
    color:$light-mcd-blue;
  }
  hr {
    background-color: $light-grey;

    height:4px;
  }
  .tab-content  {
    padding-top:20px;
    h3  {
      font-weight:300 !important;
    }
    p  {
      line-height:28px;
    }
  }
}
@media only screen and (max-width : $screen-sm-max) {
  .tab-content  {
    text-align:center;
  }
}