.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 select
{
  background-color: #fff;
  margin:10px 0;
  padding:0 10px;
  border-radius:8px;
  color: #000;
  border:0 !important;
  width: 100%;
  height:60px;
  line-height:30px;
}
.wpcf7 textarea  {
  height:200px !important;
  background-color: #fff;
  margin:10px 0;
  padding:0 10px;
  border-radius:8px;
  color: #000;
  border:0 !important;
  width: 100%;
  line-height:30px;
}

// errors placeholder
span.wpcf7-not-valid-tip {
  color: red !important;
  background-color: inherit;
  text-align: right;
  border: 0;
  margin-top: -70px;
  padding: 15px;
  font-family: $monty;
  font-size: 18px;
  width: 50px;
  float: right;
  z-index: 2;
  position: relative;
}
@media only screen and (max-width : $screen-xs-max) {
  span.wpcf7-not-valid-tip {
    margin-top:-63px;
  }
}
// error message
div.wpcf7-validation-errors {
  margin-top: 5px;
  text-align: center;
  color: #8a6d3b !important;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  padding:15px;
}
//success
div.wpcf7-mail-sent-ok {
  color: #3c763d;
  text-align: center;
  background-color: #dff0d8;
  border: 1px solid #faebcc;;
  padding: 15px;
  margin-top: 5px;
}

.cf7-submit  {
  background-color:$mcd-blue;
  padding:15px 30px;
  border-radius:10px;
  font-size:18px;
  color:$white;
  margin:15px 0 !important;
  border:1px solid $mcd-blue;
  transition: all .25s ease-in-out;
  &:hover  {
    background-color:$white;
    color:$mcd-blue;
    border:1px solid $mcd-blue;
    transition: all .25s ease-in-out;
  }
}

