.btn-mcd  {
  background-color:$mcd-blue;
  padding:15px 20px;
  border-radius:10px;
  font-size:24px;
  color:$white;
  border:1px solid $mcd-blue;
  transition: all .25s ease-in-out;
  &:hover  {
    background-color:$white;
    color:$mcd-blue;
    border:1px solid $mcd-blue;
    transition: all .25s ease-in-out;
  }
}

