#home-page-slider {
  //height:600px;
  position:relative;
  .banner-bg  {
    position:relative;
    background-position:55% 50%;
    width:100%;
    //height:600px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-content   {
    position: relative;
    width:100%;
    padding-bottom:160px;
    padding-top:160px;
    text-align:center;
    margin: auto;
    .container  {
      min-height:275px;
    }
    h2  {
      font-size:48px;
      line-height:36px;
      color:$white;
      font-weight:300;
    }
    span  {
      font-size:18px;
      font-weight: 300;
      line-height:28px;
      color:$white;
    }
    .btn-bner  {
      background-color:$mcd-blue;
      color:$white;
      font-size:16px;
      font-weight:bold;
      padding:14px 20px;
      &:hover  {
        background-color:$white;
        color:$mcd-blue;
        transition: all .25s ease-in-out;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .banner-content {
      padding-bottom:140px;
      padding-top:140px;
      .container {
        min-height:342px;
      }
      h2 {
        font-size: 40px;
        line-height: 36px;
        color: $white;
        font-weight: 300;
      }
      span {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: $white;
      }
    }
  }
  .owl-controls{
    position: relative;
    z-index: 9000;
    bottom:0;
    margin-top: -$grid-gutter-width*1.5;
    .owl-pagination{
      .owl-page{
        span{
          opacity: 1;
          width:15px;
          height:15px;
          background-color: $white;
        }
        &.active{
          span{
            background-color: $mcd-blue;
            opacity: 1;
          }
        }
      }
    }
  }
}



