// Page Banner
.banner-nrt {
  background-color: #000;
  position: relative;
  overflow:hidden;
}
.banner-nrt  img {
  width:100%;
  max-height:440px;
  opacity: 0.8;
}
.no-img-upl {
  background-color: #000;
  position: relative;
  overflow:hidden;
}
.no-img-upl  img {
  width:100%;
  max-height:440px;
  opacity: 0.5;
}
/* mobile */
@media only screen and (max-width: 750px) {
  .banner-nrt  img {
    width: 753px;
    min-height: inherit;
    background-size: cover;
    height: 220px;
    overflow: visible;
    left: 50%;
    margin-left: -300px;
    position: relative;
    max-width: none;
    display: block;
  }
  .no-img-upl img {
    width: 753px;
    min-height: inherit;
    background-size: cover;
    height: 220px;
    overflow: visible;
    left: 50%;
    margin-left: -300px;
    position: relative;
    max-width: none;
    display: block;
  }

}
.no-img-upl   {
  width:100%;
  max-height:520px;
}

.banner-nrt-title {
  position: absolute;
  text-align: center;
  width: 50%;
  bottom: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding-bottom:20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px;
  .title  {
    font-size: 34px;
    font-weight: bold;
    display: block;
    margin:20px 0px;
  }
}