.navbar-default {
  background-color: transparent;
  border:0px !important;
  font-size:14px;
  font-family: $open-sans;
}
.navbar {
  margin: 0px !important;
}
.dropdown-menu  {
  z-index: 5000;
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 65px;
  }
}
.navbar-default .navbar-nav > li > a {
  color:#1d1d1b;
//  padding-top:40px;
//  padding-bottom:40px;
}
.nav > li > a  {
  padding:26px 12px;
}
.navbar-nav {
  > li {
    position: relative;
  }
  > li > a {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.6s;
    color:#404041;
    &:hover,
    &:focus {
      color: #404041;
      background-color: #fff !important;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: #404041;
      background-color: #fff !important;

    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: #404041;
      background-color: #fff !important;
    }
  }
}

.navbar-default .navbar-toggle {
  margin: 20px 0px 20px 20px;
  padding:  20px;
  border: none;
  border-radius: 0;
  height: 60px;
  text-align: center;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #000;
  font-weight: bold;
}

/* Mobile Nav */

/* Mobile Hamburger */


.navbar-toggle {
  border: none;
  position:absolute;
  background: transparent !important;
  top:30px;
  right:5px;
  z-index:9999;
  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.55s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #fff !important;
  }
  .middle-bar {
    opacity: 0;
    background-color: #fff;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: #fff;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: #000 !important;
    }
    .middle-bar {
      opacity: 1;
      background-color: #000;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: #000;
    }
  }
}
#menu {
  // Start mobile menu styles
  z-index: 9990;
  font-size: 16px;
  width: 100%;
  padding-top:50px;
  background: $mcd-blue;
  position: absolute;
  text-align: left;
  height: auto;
  hr  {
    color:#fff;
    width:80%;
    margin:0 auto;
  }
  ul {
    margin: 0;
    padding-top:15px;
    padding-left:0;
    padding-bottom:20px;
    list-style-type: none;
    list-style-image: none;
    li a {
      text-decoration: none;
      padding-left:60px;
      color: $white;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  li {
    display: block;
    min-width:100%;
    padding: 12px 0;
    &:hover {
      display: block;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
  .dropdown-menu {
    margin:20px 0;
    border:0;
    box-shadow:0 !important;
    background-color: #0987bd;
    min-width: 100%;
    position: relative;
    height: auto;
    padding-top:10px !important;
    padding-bottom:10px !important;
    > li > a {
      padding:0 0 0 80px !important;
      width:100%;
    }
    > li > a:hover {
      background-color: transparent;
    }
  }
  .caret  {
    float: right !important;
    margin-right:40px;
    vertical-align: bottom !important;
      border-top: 5px dashed;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
  }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: transparent;
  }
  // End mobile menu styles
}

// early mobile collapse
@media only screen and (max-width : $screen-md-max) {
  .navbar {
    padding-left: 0px;
  }
  .navbar-header {
    float: none;
    border: 0px;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {

  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    border: 1px solid #dadada;
    padding-bottom: 5px;
    background-color: transparent;
  }

  .collapse.in {
    display: block !important;
  }
}
// end early mobile collapse
