#subpage-list  {
  background-color: $mcd-blue;
  padding:20px 0;
  ul {
    list-style-type: none !important;
    padding-left:0;
    padding-top:4px;
    font-family: $open-sans;
    li {
      font-size:16px;
      white-space: nowrap;
      display: inline-block;
      text-align: center;
      font-weight:300;
      zoom: 1;
      padding-right: 10px;
      padding-left:10px;
      a  {
        color:$white;
      }
    }
    .active-pg  {
      padding:7px 14px;
      margin-left:12px;
      font-weight:700;
      border-radius:8px;
    }
    .active-pg::before  {
      content: none !important;
    }
    //li:not(:first-child)::before {
    //  content: "|";
    //  padding-right: 10px;
    //  padding-left:10px;
    //  color:#fff;
    //  background-color: transparent !important;
    //}
    @media only screen and (max-width : $screen-md-max) {
      li {
        padding: 6px 2px;
      }
      li:not(:first-child)::before {
        content: "";
      }
    }
  }
}
