$brand-primary: #0771b8;
$brand-primary-contrast: #fefefe;
$box-background: #f4f4f4;
$font-family-h1: 'Open Sans', Arial;
$font-weight-h1: 600;
$font-size-h1: 18px;
$box-divide-size: 1px;
$box-divide-style: solid;
$box-divide-color: #dadada;
$text-color: #404041;
$btn-primary-color: #fffefe;
$btn-primary-bg: #0771b8;
$container-lg: 1200px;
$font-size-base:14px;
