@import "variables";
@import "_bootstrap.scss";

body{
  height: 100%;
}

.logo{
  margin-top: 40px;
  margin-bottom: 40px;
  display:block;
}

#arnold-wrap{
  background: $gray-base url(../images/server.jpg) fixed no-repeat top center;
  height: 100%;
}

h1{
  color: $brand-primary-contrast;
  font-family: $font-family-h1;
  font-weight: $font-weight-h1;
  line-height: 1;
  background: $brand-primary;
  text-align: center;
  padding:10px;
  margin-bottom:0;
}

.form-control-feedback{
  right:15px;
}

.main-box{
  padding:28px 0 10px;
  background: $box-background;
  margin-bottom:10px;
  .box-section{
    padding:10px 0;
    margin:0 15px;
    p{
      line-height: 24px;
    }
    &.border{
      border-bottom: $box-divide-size $box-divide-style $box-divide-color;
      margin-bottom:15px;
    }
    &.contact{
      font-size:14px;
      .fa{
        color: $brand-primary;
        padding-right:15px;
        font-size:21px;
        width: 21px;
        box-sizing: content-box;
        vertical-align: top;
      }
      div.item{
        margin-bottom:10px;
      }
      .address{
        display: inline-block;
      }
      a{
        color: $brand-primary;
        font-weight: bold;
        &:hover{
          text-decoration: none;
          @include transition-property(all);
          @include transition(0.3s);
        }
      }
    }
    .l-text{
      font-size:16px;
      margin-top:10px;
      margin-bottom:20px;
    }
  }
}

