// GENERAL colors

$white: #fff;
$black: #000000;
$mcd-blue: #0771b8;
$light-mcd-blue: #9fc4dd;
$seashell: #f1f1f1;
$light-grey: #ababab;
$dark-grey: #2d2d2d;
// MENU


// FONT colors

$dark-ft-grey: #404041;